
@{
    ViewBag.Title = RefWeb.Resources.Language.News;
}

<div>
    <h1 class="my-newsheader">@Html.Raw(RefWeb.Resources.Language.News):</h1>

    @{
        List<RefWeb.Models.mdlNews> lstnews = RefWeb.Scripts.CSharp.SQLCommands.GetNews();

        foreach (RefWeb.Models.mdlNews n in lstnews)
        {
            switch (RefWeb.Controllers.LanguageController._lang)
            {
                case "hu":
                    <div>
                        <h3>@Html.ActionLink(n.NewsNameHun, "SingleNewsPage", "Page", new { nid = n.NewsId }, null)</h3>
                        <p>@n.NewsDate.ToShortDateString()</p>
                        <h4>@n.NewsDescriptionHun</h4>
                    </div>
                    <hr />
                    break;
                case "en":
                    <div>
                        <h3>@Html.ActionLink(n.NewsNameEng, "SingleNewsPage", "Page", new { nid = n.NewsId }, null)</h3>
                        <p>@n.NewsDate.ToShortDateString()</p>
                        <h4>@n.NewsDescriptionEng</h4>
                    </div>
                    <hr />
                    break;
                default:
                    break;
            }
        }
    }
</div>