@{
    ViewBag.Title = RefWeb.Resources.Language.About;
}
<h1>@Html.Label(RefWeb.Resources.Language.CuriculumVitae)</h1>

<h3>@Html.Raw(RefWeb.Resources.Language.Name): @Html.Raw(RefWeb.Resources.Language.SNZS)</h3>
<h3>@Html.Raw(RefWeb.Resources.Language.PData):</h3>
<ul>
    <li>@Html.Raw(RefWeb.Resources.Language.BirthPlace), @Html.Raw(RefWeb.Resources.Language.Time): Mohács, 1997.02.27.</li>
    <li> @Html.Raw(RefWeb.Resources.Language.Address): 7759 Lánycsók Dózsa György utca 36</li>
    <li>@Html.Raw(RefWeb.Resources.Language.PhoneNumber): +36 30 188 6067</li>
    <li>@Html.Raw(RefWeb.Resources.Language.email): snagyzsolt97@gmail.com</li>
</ul>
<h3>@Html.Label(RefWeb.Resources.Language.Studies):</h3>
<ul>
    <li>
        <p>2011. @Html.Raw(RefWeb.Resources.Language.September) - 2015. @Html.Raw(RefWeb.Resources.Language.June)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.PSZCRadnoti)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.Graduation)</p>
    </li>
    <li>
        <p>2016. @Html.Raw(RefWeb.Resources.Language.September) - 2017. @Html.Raw(RefWeb.Resources.Language.May)</p> 
        <p>@Html.Raw(RefWeb.Resources.Language.PSZCRadnoti)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.Velder)</p>
    </li>
    <li>
        <p>2017. @Html.Raw(RefWeb.Resources.Language.September) - 2019.@Html.Raw(RefWeb.Resources.Language.October)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.PSZCSimonyi)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.SWDeveloper)</p>
    </li>
</ul>
<h3>@Html.Raw(RefWeb.Resources.Language.Workplaces):</h3>
<ul>
    <li>
        <p>2019.@Html.Raw(RefWeb.Resources.Language.December) - 2020.@Html.Raw(RefWeb.Resources.Language.June)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.Mohacs) @Html.Raw(RefWeb.Resources.Language.Tankerulet)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.SysAdmin)</p>
    </li>
    <li>
        <p>2020.@Html.Raw(RefWeb.Resources.Language.June) - @Html.Raw(RefWeb.Resources.Language.Currently)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.VIDIAN)</p>
        <p>@Html.Raw(RefWeb.Resources.Language.SysAdmin)</p>
    </li>
</ul>
<h3>@Html.Label(RefWeb.Resources.Language.Experiences):</h3>
<ul>
    <li>
        @Html.Raw(RefWeb.Resources.Language.CSharp), @Html.Raw(RefWeb.Resources.Language.ASP), @Html.Raw(RefWeb.Resources.Language.Java), @Html.Raw(RefWeb.Resources.Language.PHP)
        @Html.Raw(RefWeb.Resources.Language.HTML), @Html.Raw(RefWeb.Resources.Language.CSS)
    </li>
    <li>@Html.Raw(RefWeb.Resources.Language.VisualStudio), @Html.Raw(RefWeb.Resources.Language.Unity), @Html.Raw(RefWeb.Resources.Language.Blender)</li>
    <li>@Html.Raw(RefWeb.Resources.Language.GitHub), @Html.Raw(RefWeb.Resources.Language.BitBucket)</li>
</ul>
<h3>@Html.Label(RefWeb.Resources.Language.DrivingLicense)</h3>
<ul>
    <li>@Html.Raw(RefWeb.Resources.Language.BCategory)   |    2016.@Html.Raw(RefWeb.Resources.Language.April).20.  | @Html.Raw(RefWeb.Resources.Language.Valid): 2025.@Html.Raw(RefWeb.Resources.Language.February).27.</li>
    <li>@Html.Raw(RefWeb.Resources.Language.A1Category)  |    2019.@Html.Raw(RefWeb.Resources.Language.August).01. | @Html.Raw(RefWeb.Resources.Language.Valid): 2025.@Html.Raw(RefWeb.Resources.Language.February).27.</li>
</ul>
<h3>@Html.Label(RefWeb.Resources.Language.LanguageExp):</h3>
<p>@Html.Raw(RefWeb.Resources.Language.Languagee): @Html.Raw(RefWeb.Resources.Language.Basic)</p>

<h3>@Html.Label(RefWeb.Resources.Language.AboutMe):</h3>
<p>
    @Html.Raw(RefWeb.Resources.Language.AboutMeStorie)
</p>
    
