@{
    ViewBag.Title = RefWeb.Resources.Language.About;
}


@{
    #region Lists declaration
    List<RefWeb.Models.CVModels.mdlPersonalInfo> pi = RefWeb.Scripts.CSharp.SQLCommandCV.GetPersonalInfo();
    List<RefWeb.Models.CVModels.mdlEducation> edu = RefWeb.Scripts.CSharp.SQLCommandCV.GetEdu();
    List<RefWeb.Models.CVModels.mdlWork> work = RefWeb.Scripts.CSharp.SQLCommandCV.GetWork();
    List<RefWeb.Models.CVModels.mdlExp> exp = RefWeb.Scripts.CSharp.SQLCommandCV.GetExp();
    List<RefWeb.Models.CVModels.mdlLang> lang = RefWeb.Scripts.CSharp.SQLCommandCV.GetLanguage();
    List<RefWeb.Models.CVModels.mdlDrivLic> driv = RefWeb.Scripts.CSharp.SQLCommandCV.GetDrivli();
    List<RefWeb.Models.CVModels.mdlPersonalDesc> pdesc = RefWeb.Scripts.CSharp.SQLCommandCV.GetPersDesc();
    #endregion


    //Personal Info
    #region Personal info
    <h1>@Html.Label(RefWeb.Resources.Language.CuriculumVitae)</h1>

    foreach (RefWeb.Models.CVModels.mdlPersonalInfo n in pi)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <h3>@Html.Raw(RefWeb.Resources.Language.Name): @n.PiName</h3>
                    <h3>@Html.Raw(RefWeb.Resources.Language.PData):</h3>
                    <ul>
                        <li>@Html.Raw(RefWeb.Resources.Language.BirthPlace), @Html.Raw(RefWeb.Resources.Language.Time): @n.PiBirthP, @n.PiBirtht</li>
                        <li> @Html.Raw(RefWeb.Resources.Language.Address): @n.PiAddress</li>
                        <li>@Html.Raw(RefWeb.Resources.Language.PhoneNumber): @n.PiPhone</li>
                        <li>@Html.Raw(RefWeb.Resources.Language.email): @n.PiEmail</li>
                    </ul>
                </div>
                <hr />
                break;
            case "en":
                <div>
                    <h3>@Html.Raw(RefWeb.Resources.Language.Name): @n.PiName</h3>
                    <h3>@Html.Raw(RefWeb.Resources.Language.PData):</h3>
                    <ul>
                        <li>@Html.Raw(RefWeb.Resources.Language.BirthPlace), @Html.Raw(RefWeb.Resources.Language.Time): @n.PiBirthP, @n.PiBirtht</li>
                        <li> @Html.Raw(RefWeb.Resources.Language.Address): @n.PiAddress</li>
                        <li>@Html.Raw(RefWeb.Resources.Language.PhoneNumber): @n.PiPhone</li>
                        <li>@Html.Raw(RefWeb.Resources.Language.email): @n.PiEmail</li>
                    </ul>
                </div>
                <hr />
                break;
            default:
                break;
        }
    }
    #endregion

    //Studies
    #region Studies
    <h3>@Html.Label(RefWeb.Resources.Language.Studies):</h3>

    foreach (RefWeb.Models.CVModels.mdlEducation ed in edu)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <ul>
                        <li>
                            <p>@ed.EduStart - @ed.EduEnd</p>
                            <p>@ed.SchoolNameHun</p>
                            <p>@ed.EduHun</p>
                        </li>
                    </ul>
                    <br />
                </div>
                break;
            case "en":
                <div>
                    <ul>
                        <li>
                            <p>@ed.EduStart - @ed.EduEnd</p>
                            <p>@ed.SchoolNameEng</p>
                            <p>@ed.EduEng</p>
                        </li>
                    </ul>
                    <br />
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion

    //Workplaces
    #region Workplace
    <h3>@Html.Raw(RefWeb.Resources.Language.Workplaces):</h3>
    foreach (RefWeb.Models.CVModels.mdlWork wr in work)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <ul>
                        <li>
                            <p>@wr.WorkStart - @wr.WorkEnd</p>
                            <p>@wr.WorkNameHun</p>
                            <p>@wr.RoleHun</p>
                        </li>
                    </ul>
                    <br />
                </div>
                break;
            case "en":
                <div>
                    <ul>
                        <li>
                            <p>@wr.WorkStart - @wr.WorkEnd</p>
                            <p>@wr.WorkNameEng</p>
                            <p>@wr.RoleEng</p>
                        </li>
                    </ul>
                    <br />
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion

    //Experience
    #region Experience
    <h3>@Html.Label(RefWeb.Resources.Language.Experiences):</h3>

    foreach (RefWeb.Models.CVModels.mdlExp ex in exp)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <ul>
                        <li>
                            <p>@ex.ExpHun</p>
                        </li>
                    </ul>
                </div>
                break;
            case "en":
                <div>
                    <ul>
                        <li>
                            <p>@ex.ExpEng</p>
                        </li>
                    </ul>
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion

    //Language
    #region Laguage
    <h3>@Html.Label(RefWeb.Resources.Language.LanguageExp):</h3>

    foreach (RefWeb.Models.CVModels.mdlLang la in lang)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <ul>
                        <li>
                            <p>@la.LangHun - @la.LangLevelHun</p>
                        </li>
                    </ul>
                </div>
                break;
            case "en":
                <div>
                    <ul>
                        <li>
                            <p>@la.LangEng - @la.LangLevelEng</p>
                        </li>
                    </ul>
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion

    //Driving License
    #region Driving License
    <h3>@Html.Label(RefWeb.Resources.Language.DrivingLicense)</h3>

    foreach (RefWeb.Models.CVModels.mdlDrivLic dl in driv)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <ul>
                        <li>
                            <p>@dl.DLCat</p>
                        </li>
                    </ul>
                </div>
                break;
            case "en":
                <div>
                    <ul>
                        <li>
                            <p>@dl.DLCat</p>
                        </li>
                    </ul>
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion

    //Personal description
    #region Personal description
    <h3>@Html.Label(RefWeb.Resources.Language.AboutMe):</h3>

    foreach (RefWeb.Models.CVModels.mdlPersonalDesc pd in pdesc)
    {
        switch (RefWeb.Controllers.LanguageController._lang)
        {
            case "hu":
                <div>
                    <p>@pd.PDHun</p>
                </div>
                break;
            case "en":
                <div>
                    <p>@pd.PDEng</p>
                </div>
                break;
            default:
                break;
        }
    }
    <hr />
    #endregion
}
