@{
    ViewBag.Title = RefWeb.Resources.Language.Home;
}


<div class="my-header">
    <h1>@Html.Label(RefWeb.Resources.Language.Welcome)</h1>
    <p>@Html.Raw(RefWeb.Resources.Language.WelcomeMessage)</p>
</div>

<div class="my-header">
    <h3>@Html.Raw(RefWeb.Resources.Language.ReasonOfSite)</h3>
    <p>@Html.Raw(RefWeb.Resources.Language.ReasonStorie)</p>
</div>

<div>
    <h2 class="my-header">@Html.ActionLink(RefWeb.Resources.Language.News, "NewsPage", "Page", null, new { @class = "my-newsheader" }):</h2>

    @{
        List<RefWeb.Models.mdlNews> lstnews = RefWeb.Scripts.CSharp.SQLCommands.GetNews();

        foreach (RefWeb.Models.mdlNews n in lstnews)
        {
            switch (RefWeb.Controllers.LanguageController._lang)
            {
                case "hu":
                    <div>
                            <h3>@Html.ActionLink(n.NewsNameHun, "SingleNewsPage", "Page", new { nid = n.NewsId }, null)</h3>
                        <p>@n.NewsDate.ToShortDateString()</p>
                        <h4>@n.NewsDescriptionHun</h4>
                    </div>
                    <hr />
                    break;
                case "en":
                    <div>
                        <h3>@Html.ActionLink(n.NewsNameHun, "SingleNewsPage", "Page", new { nid = n.NewsId }, null)</h3>
                        <p>@n.NewsDate.ToShortDateString()</p>
                        <h4>@n.NewsDescriptionEng</h4>
                    </div>
                    <hr />
                    break;
                default:
                    break;
            }
        }
    }
</div>


