@{
    ViewBag.Title = RefWeb.Resources.Language.Home;
}


<div class="my-header">
    <h1>@Html.Label(RefWeb.Resources.Language.Welcome)</h1>
    <p>@Html.Raw(RefWeb.Resources.Language.WelcomeMessage)</p>
</div>

<div class="my-header">
    <h3>@Html.Raw(RefWeb.Resources.Language.ReasonOfSite)</h3>
    <p>@Html.Raw(RefWeb.Resources.Language.ReasonStorie)</p>
</div>

<div>
    <h2 class="my-header">@Html.ActionLink(RefWeb.Resources.Language.News, "NewsPage", "Page", new { @class = "my-newsheader" }):</h2>

    @{
        List<RefWeb.Models.mdlNews> lstnews = RefWeb.Scripts.CSharp.SQLCommands.GetNews();

        foreach (RefWeb.Models.mdlNews n in lstnews)
        {
            <div>
                <h3>@n.NewsName</h3>
                <p>@n.NewsDate</p>
                <h4>@n.NewsDescription</h4>
            </div>
            <hr />
        }
    }
</div>


